<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}1er étage{% endblock %}</title>
    <link href="{{ asset('css/styleBase.css') }}" type="text/css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>

{# AUTEURS : Fréjoux Gaëtan && Niord Mathieu #}