<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main !{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}

</head>
<body>


{% block link %}{% endblock %}
{% block body1 %}
    {{ include('templates/header.html.twig') }}
    {% block body2 %}{% endblock %}
    {{ include('templates/footer.html.twig') }}
{% endblock %}

</body>
</html>
