<header>
    <h1>Bienvenue</h1>
    {% if user is null %}
        <img src="{{ asset('images/visiteur.png') }}" alt="visiteur">
    {% elseif user.isadmin == 0 %}
        <img src="{{ asset('images/utilisateur.png') }}" alt="client">
    {% else %}
        <img src="{{ asset('images/administrateur.png') }}" alt="admin">
    {% endif %}
</header>