{% extends 'templates/main.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body2 %}
    <p>Bienvenue sur la page d'accueil !</p>
    <p> Bonjour
        {% if user is null%}
            visiteur !
        {% else %}
            {% if user.isadmin %}
                {{ user.nom }}, vous êtes admin
            {% else %}
                {{ user.nom }} vous êtes un client
            {% endif %}
        {% endif %}
    </p>
{% endblock %}

{# AUTEURS : Fréjoux Gaëtan && Niord Mathieu #}