{% extends 'templates/main.html.twig' %}

{% block body2 %}
    <p>Bienvenue sur la page d'accueil !</p>
    <p> Vous êtes un
        {% if user is null%}
            visiteur
        {% else %}
            {% if user.isadmin == true %}
                {{ user.nom }} admin
            {% else %}
                {{ user.nom }} client
            {% endif %}
        {% endif %}
    </p>
{% endblock %}